body {
    background: url("images/bg.webp") no-repeat center center fixed;
    background-size: cover;
}


.form-bg {
    background: url("images/yoga.jpg");
    background-size: cover;
    width: 100%;
}

.form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 50px 20%;
    background-color: aliceblue;
}


.form-content {
    margin: 50px;
    width: 600px;
}

.sign-up-btn {
    background: rgb(255, 108, 88);
    border: 0;
    padding: 5px 30px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.form-content div {
    margin: 10px 0;
}

.form-content hr {
    width: 20px;
    margin-left: 0;
}