ul a{
    color: magenta;
}

ul li{
    list-style-type: none;
}

.list > li > a{
    color: green;
}

.list > li{
    list-style-type: disc;
}

.list li:last-child ul li{
    list-style-type: square;
}
.list li:last-child ul li a{
    text-decoration: none;
}