table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid;
    text-align: center;
}

tr:nth-child(2n - 1){
    background-color: rgb(255, 218, 224);
}
tr:nth-child(2n){
    background-color: rgb(228, 156, 168);
}

tr td:first-child{
    background-color: rgb(207, 119, 119);
}

tr:nth-child(1) th:nth-child(1){
    background-color: rgb(255, 218, 224);
}
tr:nth-child(1) th:nth-child(2){
    background-color: rgb(228, 156, 168);
}
tr:nth-child(1) th:nth-child(3){
    background-color: rgb(202, 124, 137);
}
tr:nth-child(1) th:nth-child(4){
    background-color: rgb(211, 87, 108);
}
tr:nth-child(1) th:nth-child(5){
    background-color: rgb(197, 24, 53);
}